@import '../themes.scss';

body {
  margin: 0;
}

.home .grid-container {
  display: grid;
  grid-template-columns: 0.5fr 3fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.home {
  display: flex;
  flex-direction: column;
  padding-left: 5%;
  padding-right: 5%;
  min-height: 100vh;
  max-height: 100vh;
  height: 100%;
}

.home .title {
  font-size: 28px;
  padding-top: 25px;
  padding-bottom: 25px;
  letter-spacing: 3px;

  @include theme() {
    color: theme(nav);
  }
}