@import '../themes.scss';

.settings {
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
    min-height: 100vh;
    max-height: 100vh;
    height: 100%;
}

.settings .title {
    font-size: 28px;
    padding-top: 25px;
    padding-bottom: 25px;
    letter-spacing: 3px;

    @include theme() {
        color: theme(nav);
    }
}

.settings .contents {
    display: grid;
    box-shadow: 5px 5px 9px #00000029;
    border-radius: 31px;
    height: 100%;
    margin-bottom: 25px;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 5%;
    text-align: left;
    padding-top: 5%;

    @include theme() {
        background: theme(background-focus) 0% 0% no-repeat padding-box;
    }
}

.settings .column-one {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.settings .column-two {
    display: grid;
    grid-template-rows: 1fr 2fr;
}

.settings .form-header {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    font-size: 24px;
    width: 40%;
}

// .settings .form-header:hover {
//     transform: scale(1.01);
//     transform-origin: left;
//     cursor: pointer;

//     @include theme() {
//         color: theme(nav);
//     }
// }

.settings .underline {
    border-top: 1px solid white;
    width: 70%;
    margin-top: 2px;
}

.settings .column-two .change-theme button {
    width: 40px;
    height: 40px;
    padding-right: 5px;
    border-radius: 4px;
    margin-right: 25px;
}


.settings .column-two .change-theme .buttons {
    width: 30%;
    height: 30%;
    display: inline-block;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.settings .column-one input {
    height: 30px;
    border-radius: 4px;
    padding-left: 5px;
    font-size: 16px;

    @include theme() {
        background: theme(background-focus);
        box-shadow: inset 16px 16px 32px theme(shadow),
            inset -16px -16px 32px theme(shadow-light);

        color: theme(text-main);
    }
}

.settings .column-one .change-name-input {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 70%;
    padding-bottom: 20px;
}

.settings .column-one .change-password-input {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 70%;
    padding-bottom: 20px;
}


.settings .light-theme {
    background: #FFFFFF 0% 0% no-repeat padding-box;
}

.settings .dark-theme {
    background: #2A2D32 0% 0% no-repeat padding-box;
}

.settings .red-theme {
    background: #602A2E 0% 0% no-repeat padding-box;
}

.settings .brown-theme {
    background: #93796D 0% 0% no-repeat padding-box;
}

.settings .teal-theme {
    background: #13695F 0% 0% no-repeat padding-box;
}

.settings .blue-theme {
    background: #24556F 0% 0% no-repeat padding-box;
}