@import '../themes.scss';

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.7;
  font-size: 1rem;

  @include theme() {
    background-color: theme(background-main);
    color: theme(text-main);
  }
}
