@import '../themes.scss';

.grid-container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 0.8fr 1.4fr 0.8fr;
    gap: 1px 1px;
}

.panel {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 20%);
    grid-area: 1 / 2 / 2 / 3;
    place-items: center;

    @include theme() {
        background-color: theme(background-focus);
    }

}

.button-login {
    height: 40px;
    width: 200px;
}

.button-login:hover {
    transform: scale(1.05);

    @include theme() {
        background-color: theme(background-hover);
        border-color: theme(background-hover);
        color: theme(text-main);
    }

}

.button-signup {
    margin: 0;
    height: 40px;
    width: 200px;
}

.button-signup:hover {
    transform: scale(1.05);

    @include theme() {
        background-color: #4b5053;
        border-color: #4b5053;
        color: #EEE;
    }
}