@import '../themes.scss';

.shuffle {
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
    min-height: 100vh;
    max-height: 100vh;
    height: 100%;
}

.shuffle .title {
    font-size: 28px;
    padding-top: 25px;
    padding-bottom: 25px;
    letter-spacing: 3px;

    @include theme() {
        color: theme(nav);
    }
}