$themes: (dark: (background-main: #24272C,
    background-focus: #2A2D32,
    background-hover: #4b5053,
    text-main: #fefffe,
    text-secondary: #3c4244,
    text-subtle: #2f3437,
    nav: #ae877c,
    accent: #386,
    shadow: #222429,
    shadow-light: #32363c),
  light: (background-main: #ebecf2,
    background-focus: #e6e6e6,
    background-hover: #4b5053,
    text-main: #795050,
    text-secondary: #afa9ae,
    text-subtle: #c2c2cb,
    nav: #593131,
    accent: #783,
    shadow: #bababa,
    shadow-light: #ffffff),
  red: (background-main: #3A1D1F,
    background-focus: #412123,
    background-hover: #795050,
    text-main: #000029,
    text-secondary: #EDEEF2,
    text-subtle: #c2c2cb,
    nav: #603A3A,
    accent: #783,
    shadow: #4e2f2f,
    shadow-light: #724545),
  brown: (background-main: #ebecf2,
    background-focus: #e6e6e6,
    background-hover: #4b5053,
    text-main: #795050,
    text-secondary: #afa9ae,
    text-subtle: #c2c2cb,
    nav: #593131,
    accent: #783,
    shadow: #bababa,
    shadow-light: #ffffff),
  teal: (background-main: #ebecf2,
    background-focus: #e6e6e6,
    background-hover: #4b5053,
    text-main: #795050,
    text-secondary: #afa9ae,
    text-subtle: #c2c2cb,
    nav: #593131,
    accent: #783,
    shadow: #bababa,
    shadow-light: #ffffff),
  blue: (background-main: #ebecf2,
    background-focus: #e6e6e6,
    background-hover: #4b5053,
    text-main: #795050,
    text-secondary: #afa9ae,
    text-subtle: #c2c2cb,
    nav: #593131,
    accent: #783,
    shadow: #bababa,
    shadow-light: #ffffff));

$_current-theme: null;

@function theme($name) {
  @if ($_current-theme==null) {
    @error "theme() function should only be used into code that is wrapped by 'theme' mixin";
  }

  @if (not map-has-key(map-get($themes, $_current-theme), $name)) {
    @warn "Unknown theme key '#{$name}' for theme '#{$_current-theme}'";
    @return null;
  }

  @return map-get(map-get($themes, $_current-theme), $name);
}

@mixin theme() {
  @each $theme in map-keys($themes) {
    $_current-theme: $theme !global;

    &.theme-#{$theme} {
      @content;
    }
  }

  $_current-theme: null !global;
}